<!-- <!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
 -->

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Lato:wght@400;700;900&display=swap" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <title><%= title %></title>
</head>
<body>
    <div class="wrapper">
        <header class="header">
            <div class="header__container">
                <div class="header__content">

                </div>
            </div>
        </header>

        <main class="main">
            <div class="main__container">
                <div class="main__content items">
                    <div class="post">
                        <form class="post__new">
                            <div class="post__new-input">
                                <textarea type="textarea" name ="post" placeholder="Stop the count!" maxlength="150" rows="2" required></textarea>
                            </div>
                            <div class="post__settings">
                                <div class="post__new-square"></div>
                                <div class="post__new-length">125</div>
                                <button class="post__new-send btn">Отправить</button>
                            </div>
                        </form>
                        <div class="post_old"></div>
                    </div>
                    <div class="left__side"></div>
                </div>
            </div>
        </main>

        <footer class="footer">
            <div class="footer__container">
                <div class="footer__content"></div>
            </div>
        </footer>
    </div>
</body>
</html>